body{
     background-image: repeating-radial-gradient(#34f42f, green 30%, pink 40%);
}

.beauty {
  color: green;
  background: linear-gradient(#34f42f, red);

}
.first-style{
  background-image: repeating-radial-gradient(grey, blue 10%, pink 15%);
  margin: auto;
  width:  300px;
  padding: 10px;
}

.menu{
  width: 100px;
  position: relative;
border: 3px solid #73AD21;
float: left;
}

p {
  color: red;
  background-color: #000;
}

nice, .nice * {
  border-radius: 5px;
  border: solid 0.5px;
  border-spacing: 10px;
  padding: 2px;

}

thead{
    background: linear-gradient(to right, #34f42f, red);

}

tr{
  background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
  text-align: center;
}

#niceliste {
  background-color: green;
}

img{
  width: 300px;
}

.center{
  margin: auto;
  width: 50%;
  text-align: center;
}

#persons-table, #persons-table *{
  border-spacing: 0;
  border-collapse: collapse;
  border: solid
}

#redButton{
    background-color: pink;
}
#greenButton{
    background-color: lightgreen;
}
#blueButton{
    background-color: lightblue;
}

h1{
  font-style: italic;
}

.style{
  margin: auto;
  width:  1000px;
  position: static;
}
