
.beauty {
  color: green;
  background: linear-gradient(#34f42f, red);

}

p {
  color: red;
  background-color: #000;
}

nice, .nice * {
  border-radius: 5px;
  border: solid 0.5px;
  border-spacing: 10px;
  padding: 2px;

}

thead{
    background: linear-gradient(to right, #34f42f, red);
}

#niceliste {
  background-color: green;
}

img{
  width: 300px;
}

.center{
  margin: auto;
  width: 50%;
  text-align: center;
}

#persons-table, #persons-table *{
  border-spacing: 0;
  border-collapse: collapse;
  border: solid
}

#redButton{
    background-color: pink;
}
#greenButton{
    background-color: lightgreen;
}
#blueButton{
    background-color: lightblue;
}
